body {
    font-family: 'Roboto', sans-serif; /* Use the selected font */
    color: #333; /* Dark text color */
    background-color: #f4f4f4; /* Light background for contrast */
    background-image: url('Interior Design.jpg'); /* Ensure the path is correct */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image static while scrolling */
    margin: 0;
    padding: 20px;
}

header {
    background-color: #88d3d5;  
    color: black; 
    padding: 20px 0;
    text-align: center;
}

nav ul {    
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff; /* White links */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}